/* Estilos personalizados para el menú de navegación */
.custom-nav {
    background-color: #000; /* Fondo negro */
    padding: 10px 0; /* Espaciado superior e inferior */
    border-radius: 5px; /* Bordes redondeados */
}

.custom-nav .navbar-brand {
    color: #fff; /* Texto blanco para la marca */
}

.custom-nav .nav-link {
    color: #fff; /* Texto blanco */
    margin: 0 10px; /* Espaciado lateral entre los enlaces */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios de color */
}

.custom-nav .nav-link:hover {
    background-color: #fff; /* Fondo blanco al pasar el ratón */
    color: #000; /* Texto negro al pasar el ratón */
}


.custom-nav .nav-link.active:hover {
    background-color: #fff; /* Fondo blanco al pasar el ratón sobre el enlace activo */
    color: #000; /* Texto negro al pasar el ratón sobre el enlace activo */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Color del borde del botón de hamburguesa */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Icono de hamburguesa en blanco */
}
.navbar-dark-custom {
    background-color: #000 !important;
}
.btn-dark-custom {
    background-color: #000 !important;
    border-color: #000 !important;
}
.btn-dark-custom:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}